

@font-face {
    font-family: 'DamaskDings';
    src: url('fonts/damaskdings1.ttf') format('truetype');
}

body {
    font-family: "Segoe UI", "Meiryo UI", sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #e6f2e6;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

p {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    font-weight: 600;
    color: #2b2b2b;
}

.damask-heading {
    margin-top: -10px;
    font-family: 'DamaskDings';
    font-weight: 600;
    font-size: 3em;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    color: #444;
}

.error-message {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.clubNameDisplay, .registrationOfficerDisplay, .mobileDisplay, .phoneDisplay, .emailDisplay, .faxDisplay, .addressDisplay {
    display: block; 
    margin-top: 5px; 
    color: #333; 
    margin-left: 9px;
    font-size: 14px;
}

.teamNumber, .horseNumber, .riderNumber, .entrantNumber {
    font-weight: bold;
    display: block;
    margin-right: 100%;
}

input, select, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: 100%; 
}

input:focus, select:focus {
    border-color: #006400;
    outline: none;
}

button {
    background-color: #228B22;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #006400;
}

.club, .team, .horse, .rider, .entry {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*align-items: center;
    */
}

.team, .horse, .rider, .entry {
    margin-bottom: 20px;
    padding: 20px;
    /*background-color: #f9f9f9;
    */
    background-color: pink;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#addClubButton, #addTeamButton, #addHorseButton, #addRiderButton, #addEntryButton, #submitEntriesButton {
    background-color: #228B22;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 12px;
    width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#addClubButton:hover, #addTeamButton:hover, #addHorseButton:hover, #addRiderButton:hover, #addEntryButton:hover, #submitEntriesButton:hover {
    background-color: #006400;
}

#downloadLink {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #228B22;
    font-size: 18px;
    text-decoration: none;
}

#downloadLink:hover {
    text-decoration: underline;
}

/*.riding-club-container, .team-container, .horse-container, .rider-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
*/

.club .club-fields, .team .team-fields, .teamDiv, .horse .horse-fields, .horseDiv, .rider .rider-fields, .riderDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.club .club-fields > div, .team .team-fields > div, .horse .horse-fields > div, .rider .rider-fields > div {
    /*flex: 1 1 calc(33.333% - 20px); /* Adjust the width as needed */
    flex: 1 1 calc(50% - 20px);
}



/*.entry {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
*/

/*.entry .entrantNumber {
    flex: 0 0 50px; /* Fixed width for entry number 
}
*/

.entry .teamSelect, .entry .riderSelect, .entry .horseSelect {
    flex: 1;
    min-width: 150px; /* Set a minimum width for the dropdowns */
}

.entry .eventNumber {
    flex: 0 0 80px; /* Fixed width for the event number input */
}

.eventName {
    flex: 2;
    font-weight: 400;
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    button, input, select {
        width: 100%;
        margin-top: 10px;
    }

    .club .club-fields > div, .team .team-fields > div, .horse .horse-fields > div, .rider .rider-fields > div {
        /*flex: 1 1 calc(33.333% - 20px); /* Adjust the width as needed */
        flex: 1 1 calc(100% - 20px);
    }
    .entry {
        display: flex;
        /*flex: 1 1 calc(100% - 20px);
        */flex-direction: column;
        align-items: stretch;  
        
    }
}
